.container{
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
}


h2 {
  text-align: center;
  padding: 10px;
}

.nav {
  display: flex;

  }

li {
  text-align: center;
  padding: 10px;
  list-style: none;
}

.content{
  display: flex;
}

.aside {
  display: flex;
}

.slidebox{
  text-align: center;
}

.article{
  display: flex;
}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
@media (min-width:600px) and (max-width: 990px)  {
  .article {
    flex-grow: 2;
    width: 66%;
    flex-direction: column;
  } 

  header{
    display: none;
  }

  .nav{
    justify-content: space-evenly;
  }

  .aside{
    flex-grow: 1;
    flex-direction: column;
    width: 33%;
  }
  .slidebox{
    height : 100%;
  }

}


/*  Small devices    */
@media (max-width:599px) {

  header,.content{
    display: none;
  }

  .nav {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .nav > li {
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  
  .content{
    display: none;
  }

}



  
